body {
    font-size: 16px;
    background-color: rosybrown;
    color: aliceblue;
    font-family:'Trebuchet MS', sans-serif;
}

#nav-bar {
    background-color: gold;
    border-radius: 0;
    border: 0;
    font-size: 30px; 
    padding: 8px 15px;
}

.navbar-brand a {
     text-transform: uppercase;
     font-weight: bold;
     text-shadow: 1px 1px 1px rgb(49, 49, 49);
     color: black;
     text-decoration: none;
     font-size: 30px;
}
.navbar-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.nav_button {
    background-color: rgb(214, 203, 203);
    border-radius: 10px;
    
}
.nav_button button span{
    width: 40px;
    height: 40px;
}

.nav-item {
    background-color: rgb(184, 236, 136);
    font-size: 20px;
    padding: 0;
    border: 1px solid rgb(64, 65, 63);
}
.nav-item a{
    color: maroon;
    font-weight: bold;
}

.main_content {
    background-color: maroon;
    width:90%;
    padding: 20px auto;
    
}
.heading {
    margin:15px  auto;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.row {
    margin: 0;
    padding: 10px 0;
}
.topic {
    color: yellow;
}